In [2]:
import pandas as pd
# Membuat dataframe dari data yang disalin ke clipboard
df = pd.read_clipboard()

#MENAMPILKAN DATAFRAME
print(df)

    No.                   Nama Lengkap Gender  Angkatan  Tinggi  Badan  \
0     1                  Achmad Muqafi      L      2023            165
1     2        Aditya Fajrian Aryadeva      L      2023            165
2     3  Almakius Felix Bariq Hekopung      L      2023            165
3     4      Andrew Hendrian Nathanael      L      2023            165
4     5            April lesa farsilis      P      2023            165
5     6              Ariel Febrio Hadi      L      2023            160
6     7                Arik Dias Putra      L      2023            160
7     8                   Aurel regina      P      2023            160
8     9            BAHRUDIN IZMI AULIA      L      2023            160
9    10          Bambang Aji WIcaksono      L      2023            160
10   11        Bidzi Mawfa Ferdiansyah      L      2023            160
11   12                Calista Azzahra      P      2023            160
12   13               Dafasyah adinata      L      2023            160
13   14     Daud Marthinus Paul Jitmau      L      2023            163
14   15                 Dave Ryano F.M      L      2023            163
15   16  Dewanto Maulana Sukarno Putra      L      2023            163
16   17     Dyah Kartika Putri (Putri)      P      2023            163
17   18                    Ersa Ashari      L      2023            163
18   19     Fadhil Ibrahim Wira Dharma      L      2023            163
19   20                Fairuz Maulidya      L      2023            163

    Waktu Perjalanan Wilayah Tinggal
0                 35      TANGGERANG
1                 35      TANGGERANG
2                 35      TANGGERANG
3                 35      TANGGERANG
4                 35      TANGGERANG
5                 35      TANGGERANG
6                 35          BEKASI
7                 35          BEKASI
8                 35          BEKASI
9                 60          BEKASI
10                60         JAKARTA
11                60         JAKARTA
12                60         JAKARTA
13                15         JAKARTA
14                15         JAKARTA
15                15         JAKARTA
16                15         JAKARTA
17                15         JAKARTA
18                20         JAKARTA
19                20         JAKARTA

In [3]:
df

,No.,Nama Lengkap,Gender,Angkatan,Tinggi Badan,Waktu Perjalanan,Wilayah Tinggal
0,1,Achmad Muqafi,L,2023,165,35,TANGGERANG
1,2,Aditya Fajrian Aryadeva,L,2023,165,35,TANGGERANG
2,3,Almakius Felix Bariq Hekopung,L,2023,165,35,TANGGERANG
3,4,Andrew Hendrian Nathanael,L,2023,165,35,TANGGERANG
4,5,April lesa farsilis,P,2023,165,35,TANGGERANG
5,6,Ariel Febrio Hadi,L,2023,160,35,TANGGERANG
6,7,Arik Dias Putra,L,2023,160,35,BEKASI
7,8,Aurel regina,P,2023,160,35,BEKASI
8,9,BAHRUDIN IZMI AULIA,L,2023,160,35,BEKASI
9,10,Bambang Aji WIcaksono,L,2023,160,60,BEKASI
10,11,Bidzi Mawfa Ferdiansyah,L,2023,160,60,JAKARTA
11,12,Calista Azzahra,P,2023,160,60,JAKARTA
12,13,Dafasyah adinata,L,2023,160,60,JAKARTA
13,14,Daud Marthinus Paul Jitmau,L,2023,163,15,JAKARTA
14,15,Dave Ryano F.M,L,2023,163,15,JAKARTA
15,16,Dewanto Maulana Sukarno Putra,L,2023,163,15,JAKARTA
16,17,Dyah Kartika Putri (Putri),P,2023,163,15,JAKARTA
17,18,Ersa Ashari,L,2023,163,15,JAKARTA
18,19,Fadhil Ibrahim Wira Dharma,L,2023,163,20,JAKARTA
19,20,Fairuz Maulidya,L,2023,163,20,JAKARTA

In [10]:
#menghitung rata-rata tinggi
rata_tinggi = df['Tinggi  Badan'].mean()
rata_tinggi

162.3

In [11]:
print(df.dtypes)

No.                  int64
Nama Lengkap        object
Gender              object
Angkatan             int64
Tinggi  Badan        int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object

In [12]:
#mengubah tipe data kolom 'Angkatan' menjadi string
df['Angkatan'] = df['Angkatan'].astype(str)

In [13]:
print(df.dtypes)

No.                  int64
Nama Lengkap        object
Gender              object
Angkatan            object
Tinggi  Badan        int64
Waktu Perjalanan     int64
Wilayah Tinggal     object
dtype: object

In [3]:
import pandas as pd

df = pd.read_csv("Prak1Prob_csv.csv")
df

   No.;Nama Lengkap;Gender;Angkatan;Tinggi  Badan;Waktu Perjalanan;Wilayah Tinggal;;
0          1;Achmad Muqafi;L;2023;165;35;TANGGERANG;;
1   2;Aditya Fajrian Aryadeva;L;2023;165;35;TANGGE...
2   3;Almakius Felix Bariq Hekopung;L;2023;165;35;...
3   4;Andrew Hendrian Nathanael;L;2023;165;35;TANG...
4    5;April lesa farsilis;P;2023;165;35;TANGGERANG;;
..                                                ...
74                                           ;;;;;;;;
75                                           ;;;;;;;;
76                                           ;;;;;;;;
77                                           ;;;;;;;;
78                                           ;;;;;;;;

[79 rows x 1 columns]

In [4]:
df = pd.read_excel("Prak 1 Prob Nadhira Anindita Ralena_065002300021.xlsx")
df

,No.,Nama Lengkap,Gender,Angkatan,Tinggi Badan,Waktu Perjalanan,Wilayah Tinggal
0,1,Achmad Muqafi,L,2023,165,35,TANGGERANG
1,2,Aditya Fajrian Aryadeva,L,2023,165,35,TANGGERANG
2,3,Almakius Felix Bariq Hekopung,L,2023,165,35,TANGGERANG
3,4,Andrew Hendrian Nathanael,L,2023,165,35,TANGGERANG
4,5,April lesa farsilis,P,2023,165,35,TANGGERANG
5,6,Ariel Febrio Hadi,L,2023,160,35,TANGGERANG
6,7,Arik Dias Putra,L,2023,160,35,BEKASI
7,8,Aurel regina,P,2023,160,35,BEKASI
8,9,BAHRUDIN IZMI AULIA,L,2023,160,35,BEKASI
9,10,Bambang Aji WIcaksono,L,2023,160,60,BEKASI
10,11,Bidzi Mawfa Ferdiansyah,L,2023,160,60,JAKARTA
11,12,Calista Azzahra,P,2023,160,60,JAKARTA
12,13,Dafasyah adinata,L,2023,160,60,JAKARTA
13,14,Daud Marthinus Paul Jitmau,L,2023,163,15,JAKARTA
14,15,Dave Ryano F.M,L,2023,163,15,JAKARTA
15,16,Dewanto Maulana Sukarno Putra,L,2023,163,15,JAKARTA
16,17,Dyah Kartika Putri (Putri),P,2023,163,15,JAKARTA
17,18,Ersa Ashari,L,2023,163,15,JAKARTA
18,19,Fadhil Ibrahim Wira Dharma,L,2023,163,20,JAKARTA
19,20,Fairuz Maulidya,L,2023,163,20,JAKARTA
20,21,Naswa Aulia,P,2023,159,40,CIBUBUR
21,22,Nicholas Saputra,L,2023,159,40,CIBUBUR
22,23,Nicodemus Arjuna Prasetyo,L,2023,159,40,CIBUBUR
23,24,Noval Susanto,L,2023,159,40,CIBUBUR
24,25,Novan Andreas Imanuel pasaribu,L,2023,167,40,CIBUBUR
25,26,Nur Imam,L,2023,167,40,CIBUBUR
26,27,NUZURUL HAQI FADILLAH,L,2023,167,30,CIBUBUR
27,28,Partahi daniel,L,2023,167,30,PALMERAH
28,29,rachel azzahra putri lukito,P,2023,170,30,PALMERAH
29,30,rafael gala herlambang,L,2023,170,30,PALMERAH

In [8]:
# gk dari c atau user

data_nama = pd.read_csv("Prak1Prob_csv.csv")
print(data_nama)

   No.;Nama Lengkap;Gender;Angkatan;Tinggi  Badan;Waktu Perjalanan;Wilayah Tinggal;;
0          1;Achmad Muqafi;L;2023;165;35;TANGGERANG;;
1   2;Aditya Fajrian Aryadeva;L;2023;165;35;TANGGE...
2   3;Almakius Felix Bariq Hekopung;L;2023;165;35;...
3   4;Andrew Hendrian Nathanael;L;2023;165;35;TANG...
4    5;April lesa farsilis;P;2023;165;35;TANGGERANG;;
..                                                ...
74                                           ;;;;;;;;
75                                           ;;;;;;;;
76                                           ;;;;;;;;
77                                           ;;;;;;;;
78                                           ;;;;;;;;

[79 rows x 1 columns]

In [1]:
a = [1, 2, -5, 0.3, 6, -2, 4]  # numeric vector
b = ["one", "two", "three"]     # character vector
c = [True, True, True, False, True]  # logical vector
print(a)
print(b)
print(c)

[1, 2, -5, 0.3, 6, -2, 4]
['one', 'two', 'three']
[True, True, True, False, True]

In [2]:
#MATRIKS
import numpy as np
cells = [3, 15, -27, 38]
r_nama = ["dhira1", "dhira2"]
c_nama = ["dhira1", "dhira2"]
nama_matrix = np.matrix(cells).reshape(2, 2)
print(nama_matrix)

[[  3  15]
 [-27  38]]

In [3]:
import pandas as pd
import numpy as np

dhira1 = [1, 2, 3, 4]
dhira2 = ["red", "white", "red", np.nan]  # Menggunakan np.nan untuk merepresentasikan NA
dhira3 = [True, True, True, False]

dataku = pd.DataFrame({'ID': dhira1, 'Color': dhira2, 'Passed': dhira3})
print(dataku)

   ID  Color  Passed
0   1    red    True
1   2  white    True
2   3    red    True
3   4    NaN   False

In [4]:
import pandas as pd

data_nama = pd.DataFrame({'id': list('abcdefghij'), 'x': list(range(1, 11)), 'y': list(range(11, 21))})
print(data_nama)

  id   x   y
0  a   1  11
1  b   2  12
2  c   3  13
3  d   4  14
4  e   5  15
5  f   6  16
6  g   7  17
7  h   8  18
8  i   9  19
9  j  10  20

In [5]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d9/91/007a0d60fee8db4f7385075dc50bf62d2d359b417b374ec06b06ce6c2d64/mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.1/15.4 MB 1.7 MB/s eta 0:00:10
   ---------------------------------------- 0.1/15.4 MB 1.2 MB/s eta 0:00:13
    --------------------------------------- 0.2/15.4 MB 1.2 MB/s eta 0:00:13
    --------------------------------------- 0.2/15.4 MB 1.3 MB/s eta 0:00:13
    --------------------------------------- 0.3/15.4 MB 1.1 MB/s eta 0:00:14
    --------------------------------------- 0.3/15.4 MB 1.0 MB/s eta 0:00:15
   - -------------------------------------- 0.4/15.4 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.4/15.4 MB 1.1 MB/s eta 0:00:14
   - -------------------------------------- 0.4/15.4 MB 1.1 MB/s eta 0:00:14
   - -------------------------------------- 0.6/15.4 MB 1.2 MB/s eta 0:00:13
   - -------------------------------------- 0.6/15.4 MB 1.1 MB/s eta 0:00:14
   - -------------------------------------- 0.7/15.4 MB 1.3 MB/s eta 0:00:12
   -- ------------------------------------- 0.8/15.4 MB 1.3 MB/s eta 0:00:12
   -- ------------------------------------- 0.9/15.4 MB 1.3 MB/s eta 0:00:12
   -- ------------------------------------- 1.0/15.4 MB 1.4 MB/s eta 0:00:11
   -- ------------------------------------- 1.1/15.4 MB 1.4 MB/s eta 0:00:10
   --- ------------------------------------ 1.3/15.4 MB 1.6 MB/s eta 0:00:09
   --- ------------------------------------ 1.4/15.4 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.6/15.4 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.6/15.4 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.7/15.4 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.7/15.4 MB 1.6 MB/s eta 0:00:09
   ---- ----------------------------------- 1.8/15.4 MB 1.7 MB/s eta 0:00:09
   ---- ----------------------------------- 1.9/15.4 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 1.9/15.4 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/15.4 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.1/15.4 MB 1.7 MB/s eta 0:00:09
   ----- ---------------------------------- 2.2/15.4 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.2/15.4 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.3/15.4 MB 1.6 MB/s eta 0:00:09
   ----- ---------------------------------- 2.3/15.4 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.4/15.4 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.4/15.4 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.5/15.4 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.6/15.4 MB 1.6 MB/s eta 0:00:09
   ------ --------------------------------- 2.6/15.4 MB 1.5 MB/s eta 0:00:09
   ------ --------------------------------- 2.7/15.4 MB 1.6 MB/s eta 0:00:09
   ------- -------------------------------- 2.8/15.4 MB 1.5 MB/s eta 0:00:09
   ------- -------------------------------- 2.9/15.4 MB 1.5 MB/s eta 0:00:09
   ------- -------------------------------- 3.0/15.4 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.1/15.4 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.2/15.4 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.3/15.4 MB 1.6 MB/s eta 0:00:08
   -------- ------------------------------- 3.4/15.4 MB 1.6 MB/s eta 0:00:08
   --------- ------------------------------ 3.5/15.4 MB 1.6 MB/s eta 0:00:08
   --------- ------------------------------ 3.6/15.4 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.7/15.4 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.8/15.4 MB 1.7 MB/s eta 0:00:08
   --------- ------------------------------ 3.8/15.4 MB 1.7 MB/s eta 0:00:07
   ---------- ----------------------------- 3.9/15.4 MB 1.7 MB/s eta 0:00:07
   ---------- ----------------------------- 3.9/15.4 MB 1.7 MB/s eta 0:00:07
   ---------- ----------------------------- 4.1/15.4 MB 1.7 MB/s eta 0:00:07
   ---------- ----------------------------- 4.1/15.4 MB 1.6 MB/s eta 0:00:07
   ----------- ---------------------------- 4.2/15.4 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.3/15.4 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.3/15.4 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/15.4 MB 1.7 MB/s eta 0:00:07
   ----------- ---------------------------- 4.6/15.4 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 4.7/15.4 MB 1.7 MB/s eta 0:00:07
   ------------ --------------------------- 5.0/15.4 MB 1.7 MB/s eta 0:00:07
   ------------- -------------------------- 5.0/15.4 MB 1.7 MB/s eta 0:00:06
   ------------- -------------------------- 5.1/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.2/15.4 MB 1.7 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/15.4 MB 1.7 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/15.4 MB 1.7 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/15.4 MB 1.7 MB/s eta 0:00:06
   -------------- ------------------------- 5.5/15.4 MB 1.7 MB/s eta 0:00:06
   -------------- ------------------------- 5.5/15.4 MB 1.7 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/15.4 MB 1.7 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/15.4 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 5.9/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.0/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.2/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.3/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.4/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.5/15.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 6.6/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.6/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.7/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.8/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.9/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.0/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.1/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.1/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.3/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.4/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.5/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.5/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.6/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 7.8/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 7.9/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.0/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.0/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.2/15.4 MB 1.8 MB/s eta 0:00:04
   --------------------- ------------------ 8.2/15.4 MB 1.8 MB/s eta 0:00:04
   --------------------- ------------------ 8.3/15.4 MB 1.8 MB/s eta 0:00:04
   --------------------- ------------------ 8.4/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.5/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.5/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.6/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.7/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.7/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.8/15.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 8.9/15.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 8.9/15.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 9.1/15.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 9.1/15.4 MB 1.8 MB/s eta 0:00:04
   ----------------------- ---------------- 9.2/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.3/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.3/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.5/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------ --------------- 9.5/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 9.6/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 9.7/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 9.7/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 9.8/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 9.9/15.4 MB 1.8 MB/s eta 0:00:04
   ------------------------- -------------- 10.0/15.4 MB 1.8 MB/s eta 0:00:04
   -------------------------- ------------- 10.0/15.4 MB 1.8 MB/s eta 0:00:04
   -------------------------- ------------- 10.1/15.4 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 10.2/15.4 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 10.2/15.4 MB 1.8 MB/s eta 0:00:03
   -------------------------- ------------- 10.3/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.4/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.4/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.5/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.5/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.6/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.6/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.7/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.7/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.8/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.8/15.4 MB 1.8 MB/s eta 0:00:03
   --------------------------- ------------ 10.8/15.4 MB 1.8 MB/s eta 0:00:03
   ---------------------------- ----------- 10.8/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 10.8/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 10.9/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 10.9/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 10.9/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.1/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.1/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.1/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.1/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.2/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.2/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.2/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.3/15.4 MB 1.6 MB/s eta 0:00:03
   ----------------------------- ---------- 11.4/15.4 MB 1.6 MB/s eta 0:00:03
   ----------------------------- ---------- 11.4/15.4 MB 1.6 MB/s eta 0:00:03
   ----------------------------- ---------- 11.5/15.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------ --------- 11.6/15.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------ --------- 11.8/15.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------ --------- 11.9/15.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------ --------- 11.9/15.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------- -------- 12.0/15.4 MB 1.6 MB/s eta 0:00:03
   ------------------------------- -------- 12.1/15.4 MB 1.6 MB/s eta 0:00:02
   ------------------------------- -------- 12.3/15.4 MB 1.6 MB/s eta 0:00:02
   -------------------------------- ------- 12.4/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.5/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.7/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 12.8/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.0/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.0/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.1/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.3/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.3/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.5/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.5/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.6/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.7/15.4 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.4 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.4 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.4 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.4 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.4 MB 1.8 MB/s eta 0:00:01
   -------------------------------------- - 15.0/15.4 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.4 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  15.2/15.4 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.4 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 1.8 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 1.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [24]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="nadhira_houseprices1"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL
    my_query = "SELECT * FROM houseprices___houseprices;"
    cursor.execute(my_query)
    
    # Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    # Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
(114300, 1790, 2, 2, 2, 'No', 'East')
(114200, 2030, 4, 2, 3, 'No', 'East')
(114800, 1740, 3, 2, 1, 'No', 'East')
(94700, 1980, 3, 2, 3, 'No', 'East')
(119800, 2130, 3, 3, 3, 'No', 'East')
(114600, 1780, 3, 2, 2, 'No', 'North')
(151600, 1830, 3, 3, 3, 'Yes', 'West')
(150700, 2160, 4, 2, 2, 'No', 'West')
(119200, 2110, 4, 2, 3, 'No', 'East')
(104000, 1730, 3, 3, 3, 'No', 'East')
(132500, 2030, 3, 2, 3, 'Yes', 'East')
(123000, 1870, 2, 2, 2, 'Yes', 'East')
(102600, 1910, 3, 2, 4, 'No', 'North')
(126300, 2150, 3, 3, 5, 'Yes', 'North')
(176800, 2590, 4, 3, 4, 'No', 'West')
(145800, 1780, 4, 2, 1, 'No', 'West')
(147100, 2190, 3, 3, 4, 'Yes', 'East')
(83600, 1990, 3, 3, 4, 'No', 'North')
(111400, 1700, 2, 2, 1, 'Yes', 'East')
(167200, 1920, 3, 3, 2, 'Yes', 'West')
(116200, 1790, 3, 2, 3, 'No', 'East')
(113800, 2000, 3, 2, 4, 'No', 'North')
(91700, 1690, 3, 2, 3, 'No', 'North')
(106100, 1820, 3, 2, 3, 'Yes', 'North')
(156400, 2210, 4, 3, 2, 'Yes', 'East')
(149300, 2290, 4, 3, 3, 'No', 'North')
(137000, 2000, 4, 2, 3, 'No', 'West')
(99300, 1700, 3, 2, 2, 'No', 'East')
(69100, 1600, 2, 2, 3, 'No', 'North')
(188000, 2040, 4, 3, 1, 'Yes', 'West')
(182000, 2250, 4, 3, 3, 'Yes', 'West')
(112300, 1930, 2, 2, 2, 'Yes', 'North')
(135000, 2250, 3, 3, 3, 'Yes', 'East')
(139600, 2280, 5, 3, 4, 'Yes', 'East')
(117800, 2000, 2, 2, 3, 'No', 'North')
(117100, 2080, 3, 3, 3, 'No', 'North')
(117500, 1880, 2, 2, 2, 'No', 'North')
(147000, 2420, 4, 3, 4, 'No', 'West')
(131300, 1720, 3, 2, 1, 'No', 'West')
(108200, 1740, 3, 2, 2, 'No', 'North')
(106600, 1560, 2, 2, 1, 'No', 'East')
(133600, 1840, 4, 3, 2, 'No', 'West')
(105600, 1990, 2, 2, 3, 'No', 'East')
(154000, 1920, 3, 2, 1, 'Yes', 'East')
(166500, 1940, 3, 3, 2, 'Yes', 'West')
(103200, 1810, 3, 2, 3, 'No', 'East')
(129800, 1990, 2, 3, 2, 'No', 'North')
(90300, 2050, 3, 2, 6, 'No', 'North')
(115900, 1980, 2, 2, 2, 'No', 'East')
(107500, 1700, 3, 2, 3, 'Yes', 'North')
(151100, 2100, 3, 2, 3, 'Yes', 'East')
(91100, 1860, 2, 2, 3, 'No', 'North')
(117400, 2150, 2, 3, 4, 'No', 'North')
(130800, 2100, 3, 2, 3, 'No', 'North')
(81300, 1650, 3, 2, 3, 'No', 'North')
(125700, 1720, 2, 2, 2, 'Yes', 'East')
(140900, 2190, 3, 2, 3, 'Yes', 'East')
(152300, 2240, 4, 3, 3, 'No', 'West')
(138100, 1840, 3, 3, 1, 'No', 'West')
(155400, 2090, 4, 2, 1, 'No', 'West')
(180900, 2200, 3, 3, 1, 'No', 'West')
(100900, 1610, 2, 2, 2, 'No', 'North')
(161300, 2220, 4, 3, 2, 'No', 'West')
(120500, 1910, 2, 3, 2, 'No', 'East')
(130300, 1860, 3, 2, 2, 'No', 'West')
(111100, 1450, 2, 2, 1, 'Yes', 'North')
(126200, 2210, 3, 3, 4, 'No', 'North')
(151900, 2040, 4, 3, 3, 'No', 'East')
(93600, 2140, 3, 2, 4, 'No', 'North')
(165600, 2080, 4, 3, 3, 'No', 'West')
(166700, 1950, 3, 3, 3, 'Yes', 'West')
(157600, 2160, 4, 2, 1, 'No', 'West')
(107300, 1650, 3, 2, 3, 'No', 'North')
(125700, 2040, 3, 3, 2, 'No', 'East')
(144200, 2140, 3, 3, 3, 'No', 'West')
(106900, 1900, 2, 2, 2, 'No', 'North')
(129800, 1930, 3, 2, 2, 'No', 'West')
(176500, 2280, 4, 3, 3, 'Yes', 'West')
(121300, 2130, 3, 2, 3, 'No', 'North')
(143600, 1780, 4, 2, 1, 'No', 'West')
(143400, 2190, 3, 3, 4, 'Yes', 'East')
(184300, 2140, 4, 3, 2, 'Yes', 'West')
(164800, 2050, 2, 2, 1, 'Yes', 'West')
(147700, 2410, 3, 3, 2, 'No', 'East')
(90500, 1520, 2, 2, 3, 'No', 'North')
(188300, 2250, 4, 3, 2, 'Yes', 'West')
(102700, 1900, 4, 2, 4, 'No', 'North')
(172500, 1880, 3, 3, 1, 'Yes', 'West')
(127700, 1930, 3, 3, 2, 'No', 'North')
(97800, 2010, 2, 2, 4, 'No', 'North')
(143100, 1920, 4, 2, 2, 'No', 'West')
(116500, 2150, 3, 2, 2, 'No', 'East')
(142600, 2110, 3, 2, 2, 'No', 'West')
(157100, 2080, 3, 3, 2, 'No', 'East')
(160600, 2150, 4, 3, 3, 'Yes', 'West')
(152500, 1970, 2, 2, 1, 'Yes', 'West')
(133300, 2440, 3, 3, 3, 'No', 'East')
(126800, 2000, 2, 2, 1, 'Yes', 'East')
(145500, 2060, 3, 2, 1, 'No', 'West')
(171000, 2080, 3, 3, 2, 'Yes', 'West')
(103200, 2010, 3, 2, 5, 'No', 'North')
(123100, 2260, 3, 3, 5, 'No', 'East')
(136800, 2410, 3, 3, 4, 'No', 'East')
(211200, 2440, 4, 3, 3, 'Yes', 'West')
(82300, 1910, 3, 2, 4, 'No', 'East')
(146900, 2530, 4, 3, 4, 'No', 'West')
(108500, 2130, 3, 2, 4, 'No', 'North')
(134000, 1890, 3, 2, 1, 'Yes', 'East')
(117000, 1990, 3, 3, 3, 'Yes', 'East')
(108700, 2110, 3, 2, 3, 'No', 'East')
(111600, 1710, 2, 2, 1, 'No', 'North')
(114900, 1740, 2, 2, 2, 'No', 'North')
(123600, 1940, 2, 2, 2, 'Yes', 'East')
(115700, 2000, 3, 2, 3, 'Yes', 'North')
(124500, 2010, 4, 3, 2, 'No', 'East')
(102500, 1900, 3, 3, 3, 'No', 'North')
(199500, 2290, 5, 4, 1, 'Yes', 'West')
(117800, 1920, 3, 2, 2, 'No', 'North')
(150200, 1950, 3, 2, 3, 'Yes', 'North')
(109700, 1920, 2, 2, 4, 'No', 'North')
(110400, 1930, 2, 3, 3, 'No', 'North')
(105600, 1930, 3, 3, 3, 'No', 'East')
(144800, 2060, 2, 2, 1, 'Yes', 'East')
(119700, 1900, 3, 3, 3, 'Yes', 'East')
(147900, 2160, 4, 3, 3, 'Yes', 'East')
(113500, 2070, 2, 2, 2, 'No', 'North')
(149900, 2020, 3, 3, 1, 'No', 'West')
(124600, 2250, 3, 3, 4, 'No', 'North')

In [27]:
import pandas as pd
#mengkonvers hasil kueri ke dataframe pandas 
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#filter data berdasarkan kolom "brick" yg bernilai 'no'
df_filtered = df[df['Brick']== 'No']

#menampilkan hasil filter
print("\nHasil Folter:")
print(df_filtered)

Hasil Folter:
      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
120  110400  1930         2          3       3    No        North
121  105600  1930         3          3       3    No         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[86 rows x 7 columns]

In [31]:
import pandas as pd
#mengkonvers hasil kueri ke dataframe pandas 
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#filter data berdasarkan kolom "brick" yg bernilai 'no'
df_filtered = df[(df['Brick']== 'No') | (df['Neighborhood'] == 'East')]

#menampilkan hasil filter
print(df_filtered)

      Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0    114300  1790         2          2       2    No         East
1    114200  2030         4          2       3    No         East
2    114800  1740         3          2       1    No         East
3     94700  1980         3          2       3    No         East
4    119800  2130         3          3       3    No         East
..      ...   ...       ...        ...     ...   ...          ...
123  119700  1900         3          3       3   Yes         East
124  147900  2160         4          3       3   Yes         East
125  113500  2070         2          2       2    No        North
126  149900  2020         3          3       1    No         West
127  124600  2250         3          3       4    No        North

[105 rows x 7 columns]

In [34]:
import mysql.connector

# Membuat koneksi ke MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="ps2[nadhira]"
)

# Membuat objek cursor untuk mengeksekusi kueri
cursor = connection.cursor()

try:
    # Mengeksekusi kueri SQL
    my_query = "SELECT * FROM data_jet;"
    cursor.execute(my_query)
    
    # Mengambil semua hasil kueri
    result = cursor.fetchall()
    
    # Menampilkan hasil kueri
    print("\nHasil Kueri:")
    for row in result:
        print(row)

finally:
    # Menutup kursor dan koneksi
    cursor.close()
    connection.close()

Hasil Kueri:
('NAMA', 'GENDER', 'ANGKATAN', 'TINGGI BADAN', 'WAKTU PERJALANAN', 'TEMPAT TINGGAL', '')
('jett', 'L', '2023', '175', '50', 'TANGERANG', '')
('felix', 'L', '2023', '155', '99', 'JKT', '')
('dewa', 'L', '2023', '160', '88', 'JKT', '')
('UCOK', 'L', '2023', '156', '54', 'BNDG', '')
('PUPUT', 'P', '2020', '167', '70', 'TANGSEL', '')
('MIYASA', 'P', '2021', '166', '20', 'TANGSEL', '')
('TUKIYEM', 'P', '2019', '170', '54', 'TANGSEL', '')
('MARBOT', 'L', '2022', '169', '20', 'BEKASI', '')
('JAKA', 'L', '2022', '189', '30', 'BEKASI', '')
('KIWIL', 'L', '2021', '170', '33', 'TANGERANG', '')
('MAESAROH', 'P', '2021', '158', '15', 'TANGERANG', '')
('SARI', 'P', '2020', '160', '50', 'JKT BARAT', '')
('PURBA', 'L', '2023', '172', '89', 'JKT BARAT', '')
('JEKI', 'L', '2021', '160', '60', 'BANGKA', '')
('IWAN', 'L', '2023', '178', '54', 'CISAUK', '')
('HERI', 'L', '2023', '176', '40', 'TANGSEL', '')
('JAWAN', 'L', '2019', '180', '60', 'TANGSEL', '')
('SRI', 'P', '2018', '161', '30', 'BNDG', '')
('DOENG', 'L', '2020', '190', '22', 'JAKBAR', '')
('MKIYA', 'P', '2018', '166', '50', 'BANGKA', '')

In [37]:
import pandas as pd
#mengkonvers hasil kueri ke dataframe pandas 
df = pd.DataFrame(result, columns=[desc[0] for desc in cursor.description])

#filter data berdasarkan kolom "brick" yg bernilai 'no'
df_filtered = df[df['COL 2']== 'L']

#menampilkan hasil filter
print("\nHasil Folter:")
print(df_filtered)

Hasil Folter:
     COL 1 COL 2 COL 3 COL 4 COL 5      COL 6 COL 7
1     jett     L  2023   175    50  TANGERANG
2    felix     L  2023   155    99        JKT
3     dewa     L  2023   160    88        JKT
4     UCOK     L  2023   156    54       BNDG
8   MARBOT     L  2022   169    20     BEKASI
9     JAKA     L  2022   189    30     BEKASI
10   KIWIL     L  2021   170    33  TANGERANG
13   PURBA     L  2023   172    89  JKT BARAT
14    JEKI     L  2021   160    60     BANGKA
15    IWAN     L  2023   178    54     CISAUK
16    HERI     L  2023   176    40    TANGSEL
17   JAWAN     L  2019   180    60    TANGSEL
19   DOENG     L  2020   190    22     JAKBAR